{% extends 'base.html' %} {% load static %} {% block content%}
<div class="container my-5 my-md-5 px-4 px-md-0">
  <div class="row mt-3 justify-content-around">
    <div class="col-md-5">
      {% if programme.flier %}
      <img
        src="{{ programme.flier.url }}"
        alt=""
        class="img-fluid img-thumbnail mb-3 mb-md-0"
      />
      {% else %}
      <img
        src="{% static 'images/Student Congress.jpeg' %}"
        alt=""
        class="img-fluid img-thumbnail mb-3 mb-md-0"
      />
      {% endif %}
    </div>

    <!-- Registration Form -->
    <div class="col-md-5 px-4 px-md-0 mt-4 mt-md-0">
      <div class="mx-auto">
        <h2 class="">Registration Form</h2>
        <div class="multiplerule my-3 d-flex">
          <div class="Nrule"></div>
          <div class="Nrule2"></div>
        </div>
      </div>
      <div style="max-width: 400px">
        <!-- Search input and button -->
        <div id="searchcontainer" class="mt-4">
          <div class="mb-3">
            <label class="form-label" for="searchName">Search Name</label>
            <input
              type="text"
              id="searchName"
              class="form-control"
              placeholder="Enter name to search"
            />
            <button
              class="btn btn-primary mt-3 w-100"
              style="background-color: orange; border: none; color: black"
              onclick="searchByName()"
            >
              find my details
            </button>
          </div>

          <!-- Display search results -->
          <div id="searchResults" style="display: none">
            <h5>Search Results:</h5>
            <ul id="resultsList"></ul>
          </div>
        </div>

        <!-- Registration Form -->
        <form method="POST" id="Reg_Form" style="display: none">
          {% csrf_token %}
          
            <input
              type="text"
              id="programme_id"
              hidden
              value="{{ programme.id }}"
            />

          <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input
              type="text"
              id="name"
              name="Name"
              class="form-control"
              placeholder="Surname first eg. Okeke Ifeanyi"
              required
            />
          </div>
          <div class="mb-3">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="genderMale"
                value="Male"
              />
              <label class="form-check-label" for="genderMale">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="genderFemale"
                value="Female"
              />
              <label class="form-check-label" for="genderFemale">Female</label>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="Phone">Phone number</label>
            <input
              type="text"
              id="Phone"
              name="Phonenumber"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label class="form-label" for="email">Email address</label>
            <input
              type="email"
              id="email"
              name="Emailaddress"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label class="form-label" for="address">Address</label>
            <input
              type="text"
              id="address"
              name="address"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label class="form-label" for="church">church</label>
            <input type="text" id="church" name="church" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="zone">
              Select your ACM Zone ,if any ( otherwise choose None )
            </label>
            <select
              class="form-select"
              aria-label="Default select example"
              id="zone"
              name="zone"
            >
              <option selected value="">Select ...</option>
              {% for zone in zones %}
              <option value="{{zone.zone}}">{{zone.zone}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label" for="status"> Occupation </label>
            <select
              class="form-select"
              aria-label="Default select example"
              id="status"
              name="status"
              onchange="myFunction()"
            >
              <option value="">Select ...</option>
              {% for status in Occupation %}
              <option value="{{status.status}}">{{status.status}}</option>
              {% endfor %}
            </select>
          </div>
          <div id="stucontainer" style="display: none">
            <div class="mb-4">
              <label class="form-label" for="school">School</label>
              <input
                type="text"
                id="School"
                name="School"
                class="form-control"
              />
            </div>
            <div class="mb-4">
              <select
                class="form-select"
                aria-label="Default select example"
                id="level"
                name="level"
              >
                <option selected value="">Level</option>
                {% for level in levels %}
                <option value="{{level.level}}">{{level.level}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <button
            class="btn w-100 mb-4 mt-3"
            type="submit"
            style="background-color: orange"
          >
            Submit
          </button>
        </form>

        <!-- Button to clear form for new entry -->
        <button
          id="newEntrybtn"
          class="btn btn-secondary mb-4 w-100"
          onclick="clearForm()"
        >
          New Entry
        </button>

        <button
          id="updateBtn"
          class="btn btn-secondary mb-4 w-100"
          onclick="switchToUpdateMode()"
        >
          find and Update
        </button>

        <!-- Registration Successful -->
        <div
          id="successdiv"
          class="bg-light p-4 shadow-sm mt-3"
          style="display: none"
        >
          <div>
            You have successfully Registered for Student Congress {{ programme.year }}, see you
            at the Programme.
          </div>
          <div class="mt-3 d-flex flex-md-row flex-column flex-md-fill">
            <a href="{% url 'home' %}" class="btn btn-success me-0 me-md-3 mb-3 mb-md-0"
              ><i
                class="fa-solid fa-share me-3 h6"
                style="transform: scaleX(-1); color: white"
              ></i
              >Home Page</a
            >
            <button class="btn btn-primary " onclick="clearForm()">
              Register again
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/Register.js' %}"></script>
{% endblock %}
