*{
    margin:0;
    padding:0;
}

body{
    background-color: rgb(254, 255, 255);
    /* font-family: 'Gantari', sans-serif; */
    font-family: 'League Spartan', sans-serif;
    /* font-family: 'Poppins', sans-serif;  */
}


body::before {
    display: block;
    content: '';
    height: 80px;
  }
@media (max-width:342px) {
  body::before {
    display: block;
    content: '';
    height: 120px;
  }
}
#more {
    display : none;
}
.Nrule {
    position: relative;
    z-index: 1;
    background-color: orange;
    width: 60px;
    height: 5px;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  }
  
  .Nrule2 {
    position: relative;
    z-index: 1;
    background-color: #000;
    width: 60px;
    height: 5px;
    border-radius: 0 2px 2px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  }
  .Nrule3 {
    position: relative;
    z-index: 1;
    background-color: #fff;
    width: 60px;
    height: 5px;
    border-radius: 0 2px 2px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  }

  #Rcover{
    width: 100%;
    /* background: #00072B; */
    /* margin-bottom: 20px; */
    position: relative;
    background-image: url('../images/Prayer Unit.jpg');
    background-position: center;
    background-size: cover;
  }
  
  #Rcover::before {
    content: '';
    position: absolute;
    background-color: #000;
    opacity: 0.8;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  
#Rcoverwrapper {
    position: relative;
    z-index: 1;
    top: 50%;
    padding: 0 80px;
    /* transform: translateY(-50%); */
    text-align: center;
  }




  .carousel-item {
    height: 100vh;
    min-height: 300px;
    position: relative;
    background: no-repeat scroll center Scroll;
    -webkit-background-size: cover;
    background-size: cover;
  }
  
  .carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
  }
  
  .carousel-caption {
    bottom: 70px;
    padding-top: 50px;
    padding-bottom: 80px;
  }
  
  .carousel-caption h3 {
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 25px;
  }
  
  .carousel-caption p {
    color: #ffffff;
    font-size: medium;
    margin: auto;
    font-size: 30px;
  }
  
  .carousel-caption a {
    background: orange;
    padding: 8px 25px;
    color: #000;
    display: inline-block;
    margin-top: 15px;
    border-radius: 30px;
    font-size: 18px;
  }
  



@media (max-width:1001px) {
    .carousel-item {
        height: 100%;
        min-height: 300px;
        position: relative;
        background: no-repeat scroll center Scroll;
        -webkit-background-size: cover;
        background-size: cover;
      }
      
      .carousel-item::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #000;
        opacity: 0.5;
      }
      
      .carousel-caption {
        bottom: 70px;
        padding-top: 50px;
        padding-bottom: 60px;
      }
      
      .carousel-caption h3 {
        font-size: 70px;
        font-weight: 600;
        letter-spacing: 2px;
        margin-top: 25px;
      }
      
      .carousel-caption p {
        color: #ffffff;
        font-size: medium;
        margin: auto;
        font-size: 30px;
      }
      
      .carousel-caption a {
        background: orange;
        padding: 8px 20px;
        color: #000;
        display: inline-block;
        margin-top: 15px;
        border-radius: 20px;
      }
      
}


@media (max-width: 820px) {
      
      .carousel-caption {
        bottom: 0px;
        padding-top: 0px;
        padding-bottom: 80px;
      }
      
      .carousel-caption h3 {
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 2px;
        margin-top: 25px;
      }
      
      .carousel-caption p {
        color: #ffffff;
        font-size: 20px;
        margin: auto;
        
      }
      
      .carousel-caption a {
        background: orange;
        padding: 8px 20px;
        color: #000;
        display: inline-block;
        margin-top: 15px;
        border-radius: 20px;
        font-size: 14px;
      }
    
      
}

@media (max-width: 468px) {
      
    .carousel-item {
        height: 100%;
        min-height: 100%;
        position: relative;
        background: no-repeat scroll center Scroll;
        -webkit-background-size: cover;
        background-size: cover;
      }
      
      .carousel-item::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #000;
        opacity: 0.3;
      }
    .carousel-caption {
      bottom: 0px;
      padding-top: 0px;
      padding-bottom: 60px;
    }
    
    .carousel-caption h3 {
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 2px;
      margin-top: 25px;
      display: none;
    }
    
    .carousel-caption p {
      color: #ffffff;
      font-size: 25px;
      margin: 0px;
      
    }
    
    .carousel-caption a {
      background: orange;
      padding: 4px 10px;
      color: #000;
      display: inline-block;
      margin-top: 15px;
      border-radius: 20px;
      font-size: 15px;
      font-weight: 500;
    }
  
    #days{
        font-size: 20%;
    }
}

.grid{ 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    align-items: start;
    }
  .grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 100%;
  }

  
  